@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Medium.ttf") format("ttf"),
  url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2"),
  url("../fonts/Raleway/Raleway-Medium.woff") format("woff"),
  url("../fonts/Raleway/Raleway-Medium.eot") format("eot");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf") format("ttf"),
  url("../fonts/Raleway/Raleway-SemiBold.woff2") format("woff2"),
  url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"),
  url("../fonts/Raleway/Raleway-SemiBold.eot") format("eot");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("ttf"),
  url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"),
  url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"),
  url("../fonts/Raleway/Raleway-ExtraBold.eot") format("eot");
}

@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  src: url("../fonts/Playfair/PlayfairDisplay-SemiBold.ttf") format("ttf"),
  url("../fonts/Playfair/PlayfairDisplay-SemiBold.woff2") format("woff2"),
  url("../fonts/Playfair/PlayfairDisplay-SemiBold.woff") format("woff"),
  url("../fonts/Playfair/PlayfairDisplay-SemiBold.eot") format("eot");
}

@font-face {
  font-family: "Mali-Bold";
  src: url("../fonts/Mali/Mali-Bold.ttf") format("ttf"),
  url("../fonts/Mali/Mali-Bold.woff2") format("woff2"),
  url("../fonts/Mali/Mali-Bold.woff") format("woff"),
  url("../fonts/Mali/Mali-Bold.eot") format("eot");
}
