// Font, line-height, and color for body text, headings, and more.
$font-raleway-semi-bold: "Raleway-SemiBold";
$font-raleway-extra-bold: "Raleway-ExtraBold";
$font-playfair-semi-bold: "PlayfairDisplay-SemiBold";
$font-mali-bold: "Mali-Bold";
$font-size-tiny: 0.643rem;

// Gradients
$enable-gradients: true !default;
$gradient-red-purple: linear-gradient(90deg, #ed3f40 0%, #592d9c 100%);
$gradient-purple-lillac: linear-gradient(90deg, #592d9c 0%, #a8a0fb 100%);
$gradient-red-purple: linear-gradient(90deg, #84a59d 0%, #a8a0fb 100%);

//Box shadow
$box-shadow-pink: -4px 4px 0px rgba(237, 63, 64, 0.2);





